pais {
    background-color:rgb(170, 238, 245);
}
departamento {
    background-color:rgb(112, 206, 227); 
    display:block;
    font-weight: bold;
    text-align: center;
}
cabecera {
    color:rgb(11, 11, 69);
    font-size: 0.7cm;
    display:block
}
habitantes {
    color:rgb(30, 30, 46);
    font-size: 0.5cm;
    display:block
}
altura {
    color:rgb(30, 30, 46);
    font-size: 0.5cm;
    display:block
}

